:root {
	/* ### Colors ### */

	/* ## Primary */

	--strong-cyan: hsl(171, 66%, 44%);
	--light-blue: hsl(233, 100%, 69%);

	/* ## Neutral  */

	--dark-grayish-blue: hsl(210, 10%, 33%);
	--grayish-blue: hsl(201, 11%, 66%);
	--grayish-blue-footer: hsl(179, 12%, 97%);

	/* ### typography ###  */

	/*font size */
	--fs-body: 1rem;

	/*font family*/
	--ff-primary: 'Bai Jamjuree', sans-serif;
}

/* general layout and structure  */

html {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	color: var(--grayish-blue);
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	text-align: center;
	letter-spacing: 0.01em;
	line-height: 1.63em;

	min-height: calc(100vh - 100px);
}

img {
	max-width: 100%;
}

h1,
h2,
h3 {
	color: var(--dark-grayish-blue);
	font-weight: 600;
}

h2 {
	font-size: 1.75rem;
	line-height: 1.3;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.3rem;
	line-height: 1.5;
}

small {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.88;
	letter-spacing: 0.14px;
	display: block;
}

/* buttons  */

.btn {
	display: inline-block;
	padding: .91em 2.88em;
	font-size: 1.125em;
	width: 100%;
	border: none;
	border-radius: 1.75rem;
	margin-bottom: 1.5rem;
	color: #fff;
}

.btn-ios {
	background-color: var(--strong-cyan);
	box-shadow: inset 0px -3px 0px 0px hsla(0, 0%, 0%, 0.15), 0px 10px 20px hsla(160, 64%, 72%, 0.5);
}

.btn-mac {
	background-color: var(--light-blue);
	box-shadow: inset 0px -3px 0px 0px hsla(0, 0%, 0%, 0.15), 0px 10px 20px hsla(0, 0%, 0%, 0.1);
}

footer {
	background-color: var(--grayish-blue-footer);
	font-size: 1.125rem;
}

.company-contact-section small {
	transform: scale(1);
	transition: transform 250ms;
}

.company-contact-section small:hover,
.company-contact-section small:focus {
	cursor: pointer;
	color: hsla(171, 66%, 44%, 1);
	font-weight: 600;
	transform: scale(1.15);
}

.social-icons {
	transform: scale(1);
	transition: transform 250ms;
}

.social-icons:hover,
.social-icons:focus {
	cursor: pointer;
	font-weight: 600;
	transform: scale(1.3);
	filter: invert(60%) sepia(10%) saturate(2500%) hue-rotate(125deg);
}

.bg {
	position: relative;
}

.bg::before {
	position: absolute;
	content: '';
	inset: 0;
	background-image: url('../images/bg-header-mobile.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	z-index: -1;
}

/*  container / grid container sections  */

.container-small {
	width: 85%;
	max-width: 730px;
	margin: 0 auto;
}

.container-access {
	width: 85%;
	max-width: 830px;
	margin: 0 auto;
}

.container {
	width: 85%;
	max-width: 1100px;
	margin: 0 auto;
}

.container-flow-left {
	width: 85%;
	max-width: 1212px;
	margin: 0 auto;
}

.d-grid-clipboard-features {
	display: grid;
	align-items: flex-end;
	grid-template-rows: repeat(3, minmax(min-content, 18em)) 6em;
}

.d-grid-companies {
	display: grid;
	grid-template-rows: repeat(4, minmax(min-content, 8em));
}

/* header section  */

.hero-section {
	padding: 7.44rem 0 10em;
}

.hero-logo {
	margin-bottom: 4em;
}

.hero-title {
	font-size: 2rem;
	line-height: 2.5rem;
	margin-bottom: 1em;
}

.hero-text {
	margin-bottom: 2.88em;
}

/* snippets section  */

.snippets-section {
	margin-bottom: 4.06em;
}

/*features  section  */

.features-section {
	margin: 4.06em auto 11.63em;
}

.features-section > * + * {
	margin-bottom: 3em;
}

.computer-img {
	margin-bottom: 3.5em;
}

/* access clipboard section  */
.img-devices {
	margin-top: 4.06em;
	width: 100%;
	max-width: 812px;
}

/* clipboard features section  */
.clipboard-features-section {
	margin: 5.63em auto 8.19em;
}

.clipboard-features-section h3 {
	margin: 2.5em auto 1.13em;
}

/* companies section  */

.companies-section img {
	margin: 0 auto;
}

/* clipboard ios and macos section  */
.clipboard-ios-macos-section {
	padding: 10.63em 0;
}

.clipboard-ios-macos-section p {
	margin-bottom: 2.88em;
}

/* footer  */

footer {
	position: relative;
}

.company-contact-section {
	padding: 3.25em 0 3.19em;
}

.company-contact-section > small {
	margin-bottom: 1.25em;
}

.footer-logo {
	width: 55px;
	height: 55px;
	margin-bottom: 2.5em;
}

.socials {
	margin-top: 3.13em;
}

.social-icons + .social-icons {
	margin-left: 2.5em;
}

.attribution {
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* tablet  version*/

@media (min-width: 768px) {
	/* general style  */
	body {
		font-size: 1.13rem;
		line-height: 1.88;
	}

	h2 {
		font-size: 2.25rem;
		line-height: 2.81rem;
	}

	h3 {
		font-size: 1.5rem;
		line-height: 2.81rem;
	}

	.features-section p,
	.clipboard-features-section p {
		font-size: 1rem;
		line-height: 1.5;
	}

	/* buttons  */

	.btn {
		max-width: 40%;
		font-size: 1.13rem;
		line-height: inherit;
		transform: scale(1);
		transition: transform 250ms;
		padding: .81em 2.19em;
	}

	.btn + .btn {
		margin-left: 1em;
	}

	.btn-ios:hover,
	.btn-ios:focus {
		cursor: pointer;
		transform: scale(1.1);
		background-color: hsl(171, 55%, 61%);
		font-weight: 600;
	}

	.btn-mac:hover,
	.btn-mac:focus {
		cursor: pointer;
		transform: scale(1.1);
		background-color: hsl(232, 100%, 79%);
		font-weight: 600;
	}

	/* header section  */

	.hero-section {
		font-size: 1.25rem;
		letter-spacing: 0.15px;
		padding: 8em 0 9.38em;
	}

	.hero-title {
		font-size: 2.88rem;
	}

	.bg::before {
		position: absolute;
		content: '';
		inset: 0;
		background-image: url('../images/bg-header-desktop.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
		z-index: -1;
	}

	/* features section  */
	.features-section {
		text-align: left;
	}

	.container-flow-left {
		display: grid;
		justify-content: space-between;
		align-items: center;
		grid-template-columns: 2.5fr repeat(3, 1fr);
		grid-template-rows: 5em repeat(3, 8em);
		margin-left: 0;
		margin-right: auto;
	}

	.computer-img {
		grid-column: 1 / span 2;
		grid-row: 2 / span 3;
		transform: translateX(-10%);
	}

	.features-1 {
		grid-column: 3 / span 2;
		grid-row: 2;
	}

	.features-2 {
		grid-column: 3 / span 2;
		grid-row: 3;
	}

	.features-3 {
		grid-column: 3 / span 2;
		grid-row: 4;
	}

	/* access section  */
	.access-clipboard-section p {
		padding: 0 4em;
	}

	/* companies section  */

	.d-grid-companies {
		grid-template-columns: 1fr repeat(2, 1fr) 1fr;
		grid-template-rows: repeat(3, 1fr);
		gap: 5em;
	}

	.companies-section img {
		margin: 0;
	}

	.google,
	.microsoft,
	.vector-graphics {
		grid-column: 2;
	}
}

/* desktop version  */

@media (min-width: 1080px) {
	.clipboard-features-section {
		margin: 4.5em auto 9.38em;
	}

	.d-grid-clipboard-features {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		align-items: baseline;
		gap: 5em;
	}

	.d-grid-companies {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr;
		gap: 5em;
	}

	.google,
	.microsoft,
	.vector-graphics {
		grid-column: auto;
	}

	.company-contact-section {
		display: flex;
		/* align-items: flex-start; */
		align-content: flex-start;
		text-align: left;
		justify-content: space-between;
	}

	.socials {
		margin-top: 0;
		align-self: center;
	}
}
